@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    color: #cdcdcd;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Evita a rolagem lateral */
}

/* HEADER */

header{
  
    width: 100%;
    padding: 1%;
    background-color: #5997a6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
  
  
    opacity: 99%;
   
}

#img-icon{
    cursor: pointer;
    font-family: "Seymour One", sans-serif;
    font-weight: 200;

}

/* BOTAO LOGIN HEADER */

.btn{
    padding: 0.5% 1.5%;
    background-color: #5997a6;
    border: 2px solid #3c5c64;
    border-radius: 7px;
    cursor: pointer;
}

.btn:hover{
    padding: 0.7% 1.6%;
    background-color: #3c5c64;
    border: 2px solid #5997a6;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;

    
}

.btn-a{
    color: white;
    text-decoration: none;
}

/* MENU HAMBURGER */

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    align-items: flex-end; /* Alinha os itens à direita */
}
.menu-hamburger {
    position: absolute;
    z-index: 1001;
    top: 3rem;
    right: 3rem; /* Altera de left para right */
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
    cursor: pointer;
}
.menu-hamburger:hover span {
    background-color: #5997a6;
}
.menu-hamburger span {
    width: 100%;
    height: .5rem;
    border-radius: .3rem;
    background-color: #fff;
}
.lines span {
    background-color: #3c5c64;
}
.box-menu-itens {
    position: fixed; /* Altera para fixed para ficar fixo na tela */
    top: 0;
    right: 0; /* Altera de left para right */
    z-index: 1000;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    padding: 10rem 3rem;
    transition: transform ease .3s; /* Utiliza transform para ocultar o menu inicialmente */
    transform: translateX(100%); /* Move o menu para fora da tela à direita */
}
.open {
    transform: translateX(0); /* Move o menu para sua posição visível */
}
nav ul {
    text-align: right; /* Alinha o texto à direita */
}
nav ul li {
    margin: 2rem 0;
}
nav ul li a {
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
    font-size: 2.2rem;
    transition: all ease .2s;
    cursor: pointer;
    font-weight: bold;
}
nav ul li a:hover {
    color: #444;
}

/*  */




/* VIDEO */

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    
}

/*  */

/* Titulo(Seja Bem Vindo..) */

.header-container-quadro{
    display: flex;
    justify-content: center;
 
    margin-top: 10%;

}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    
    background-color: rgb(44, 43, 43);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(49, 49, 49, 0.2);
    padding: 40px;
    max-width: 700px;
    text-align: center;
    color: #fff;
    opacity: 95%;
    
}

#header-a{
 
    font-size: 2rem;
    color: #fff;
}

#header-a:hover{
    color: rgb(17, 17, 95);
}

#header-container-titulo{
    color: rgb(255, 255, 255);
    font-size: 5rem;
 
    
}

#header-container-titulo-span{
    color: #5997a6;
}

#header-container-titulo-p{
    font-size: 2.5rem;

}

#header-container-titulo-button{
    padding: 3%;
    background-color: rgb(44, 43, 43);
    border-radius: 50px;
    border: 3px solid #5997a6;

    cursor: pointer;
}

#header-container-titulo-button:hover{
    background-color: #5997a6;

}

#header-container-titulo-button-a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;


}





/*  */


@media (max-width: 768px) {
    #header-container-titulo {
        font-size: 24px;
    }

    .header-container {
        padding: 30px;
    }

    .button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #header-container-titulo {
        font-size: 20px;
    }

    .header-container {
        padding: 20px;
    }

    .button {
        padding: 6px 12px;
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }
}